.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border: 1px solid red;
}

.comments {
  margin-left: 2rem;
}

.lastComment {
  background-color: #f0e390;
}
